* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


body {
  width: 800px;
  margin: 50px auto;
}

.letter-header {
  display: flex;
  justify-content: space-between;
}

.letter-header h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #D8267D;
  margin-bottom: 50px;
}



.address {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  Color: #7A7A7A;

}

main  p {
  font-family: 'Lato', sans-serif;
  margin-bottom : 20px; 
}

.letter-content {
  float: right;
  line-height: 28px;
  width: 600px;
}
aside p {
  margin-top: 40px;
  margin-bottom: 40px;
}
.aside-info {
  float: left;
  font-size: 16px; 
  Color:  #7A7A7A;
}

.aside-address {
  line-height: 22px;
}
